<%- include('header') %>

  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Form Basic</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar  toggle-->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form class="form-horizontal" method="post" action="/insertadmin"  enctype="multipart/form-data">
              <div class="card-body">
                <h4 class="card-title">Personal Info</h4>
                <div class="form-group row">
                  <label for="fname" class="col-sm-3 text-end control-label col-form-label">First Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name Here" />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name Here" />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Email</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" name="email"
                      placeholder="enter your email Here" />
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Password</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password"
                      placeholder="enter your password Here" />
                  </div>
                </div>


                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Gender</label>
                  <div class="col-sm-9">
                    <input type="radio" name="gender" value="male">Male
                    <input type="radio" name="gender" value="female">Female</td>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Hobby</label>
                  <div class="col-sm-9">
                    <input type="checkbox" name="hobby[]" value="Reading">Reading
                    <input type="checkbox" name="hobby[]" value="Music">Music
                    <input type="checkbox" name="hobby[]" value="Cycling">Cycling</td>
                  </div>
                </div>

                <% var city = ["surat","Vadodara","Rajkot","Ahamdabad","Navasari"]%>

                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">City</label>
                  <div class="col-sm-9">
                    <select name="city">
                      <option value="">--select city--</option>
                      <% city.forEach(function(e,i){ %>
                          <option value="<%= e %>"><%= e %></option>
                      <% }); %>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">Description</label>
                  <div class="col-sm-9">
                    <textarea name="description"  cols="30" rows="5"></textarea>
                  </div>
                </div>

                
                <div class="form-group row">
                  <label for="lname" class="col-sm-3 text-end control-label col-form-label">File</label>
                  <div class="col-sm-9">
                    <input type="file" name="avatar">
                  </div>
                </div>
              
               <div class="border-top">
                  <div class="card-body">
                     <button type="submit" name="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>

        </div>
      
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <%- include('footer') %>